.pag1 {
	 background-image: url(https://i.pinimg.com/564x/76/bd/6e/76bd6e01cffd6f24b8adce618092b208.jpg);
	 background-size:cover;
	 font-size: 20;
}
.pag2 {
	 background-image: url(https://i.pinimg.com/564x/76/bd/6e/76bd6e01cffd6f24b8adce618092b208.jpg);
	 background-size:cover;
	 font-size: 20;
}
.pag3 {
	 background-image: url(https://i.pinimg.com/564x/76/bd/6e/76bd6e01cffd6f24b8adce618092b208.jpg);
	 background-size:cover;
	 font-size: 20;
}